/*
Student 1: Ahmed Al-Qahtan, ID: 2046143
Student 2: Mohannad Al-Jeddawi, ID: 2036459
*/
/* CSS reset */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}
/*---------------------------header-------------------------------------------------*/
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  header li {
    float: left;
}
  
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: orange;
}
/*-----------------------------------------------------------------------------------*/

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 50px;
}

.add-event{
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-event h2{
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.about-page{
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}