/*
Student 1: Ahmed Al-Qahtan, ID: 2046143
Student 2: Mohannad Al-Jeddawi, ID: 2036459
*/

body {
    font-family: Arial, sans-serif;
    background-color: #009999;
    margin: 0;
    padding: 0;
}

.video {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    /* new contents for video below */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
